In [1]:
import os
os.listdir()   #This

['.ipynb_checkpoints',
 'Anaconda3-5.1.0-Windows-x86.exe',
 'Anaconda3-5.1.0-Windows-x86_64.exe',
 'Books to Read',
 'example',
 'Excel_Sample.xlsx',
 'EXERCISES',
 'Introduction.ipynb',
 'multi_index_example',
 'numpy.ipynb',
 'Pandas.ipynb',
 'Python Class Coven labs.txt',
 'Python Crash Course Exercises solved.ipynb',
 'Python Crash Course Exercises unsolved.ipynb',
 'PYTHON Projects UDACITY',
 'pythonIntroduction.ipynb',
 'Questions on Numpy.ipynb',
 'Untitled.ipynb']

In [2]:
import pandas as pd

In [6]:
pd.read_csv("example")

    a   b   c   d     e
0   0   1   2   3   5.0
1   4   5   6   7   5.0
2   8   9  10  11  67.0
3  12  13  14  15  37.0

In [10]:
df= pd.read_csv("example")

In [ ]:
df.to_csv("My Output",)

In [12]:
pd.read_csv("multi_index_example")

,first,bar,bar.1,baz,baz.1,foo,foo.1,qux,qux.1
0,second,one,two,one,two,one,two,one,two
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,1.025984152081572,-0.1565979042889875,-0.031579143908112575,0.6498258334908454,2.154846443259472,-0.6102588558227414,-0.755325340010558,-0.34641850351854453
3,B,0.1470267713241236,-0.47944803904109595,0.558769406443067,1.0248102783372157,-0.925874258809907,1.8628641384939535,-1.1338171615837889,0.6104779075384634
4,C,0.3860303121135517,2.084018530338962,-0.37651867524923904,0.23033634359240704,0.6812092925867574,1.0351250747739213,-0.031160481493099617,1.9399323109926203

In [ ]:
data = pd.read_html("url") # This is to read an html file

In [9]:
from sqlalchemy import create_engine # Data can also be imported from sqlachemy(backend created using nodejs and mongodb)

In [ ]:
engine = create_engine("sqlite:///:memory:")

In [ ]:
df.to_sql