In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
# creating two lists
list1 = ["a","b", "c","d", "e"]
list2 = [1,2,3,4,5]

In [5]:
x = np.array(list2)

In [6]:
x

array([1, 2, 3, 4, 5])

In [7]:
dic1 = {"a": 1, "b": 2, "c":3, "d":4, "e":5}

In [8]:
dic1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
pd.Series(list1) #creating a pandas series, also note that the numbers at the side indicates the row numbers e.g "a" is row 0

0    a
1    b
2    c
3    d
4    e
dtype: object

In [10]:
pd.Series(data= list2, index =list1) # this implies the alphabeth value are the rows and the numbers are the column

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
new =pd.Series(data= list2, index =list1)

In [12]:
new['b']  # Indexing out b

2

In [13]:
mew2 =pd.Series([1,2,3,4], index = ["Nigeria", "France", "Belgium", "England"])

In [14]:
mew2

Nigeria    1
France     2
Belgium    3
England    4
dtype: int64

In [15]:
mew2["Belgium"] # There are two ways to index a data series, using the index name or position

3

In [16]:
mew2[2]

3

In [17]:
new = pd.Series([5,6,7,8], index = ["Ghana", "France", "Belgium", "England"])

In [18]:
new

Ghana      5
France     6
Belgium    7
England    8
dtype: int64

In [19]:
mew2 + new # adds up similar rows together, for example in mew2[3] = Belguim, 7 and in new[2] =

Belgium    10.0
England    12.0
France      8.0
Ghana       NaN
Nigeria     NaN
dtype: float64

##  Data Frames

These are a combination of many series put together, different columns are present.

In [20]:
np.random.randint(0,100, 100) # This creates 100 random numbers

array([38, 88, 85, 56, 10, 75, 21, 51, 61, 64, 25, 33, 27, 69, 60, 54, 76,
       26, 87, 17, 43, 83, 35, 35, 53, 80, 62, 98, 23, 75, 49, 47, 85, 76,
       60, 64, 48, 85, 55, 70, 93,  3, 12, 10, 16,  7, 84, 93, 61, 27, 72,
       10, 35, 92, 28, 63, 95, 86, 97, 17, 40, 47, 32, 93, 80,  4, 72, 78,
       16, 21, 73, 48,  8, 69, 93,  8, 16, 21, 44, 75, 94, 74, 90, 11, 88,
       94, 42,  2, 81, 51, 24, 81, 66, 71, 43,  8, 79, 66, 42, 32])

In [21]:
y = np.random.seed(101) # This returns the same random number

In [22]:
pd.DataFrame(randn(5,4)) # This creates a dataframe

          0         1         2         3
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [23]:
pd.DataFrame(randn(5,4), index = ["A", "B","C","D","E"], columns = ["W", "X","Y","Z"] ) #Changing the row index to a-e and the coulums to w-z

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [24]:
r = pd.DataFrame(randn(5,4), index = ["A", "B","C","D","E"], columns = ["W", "X","Y","Z"] ) # To get the same column value of W, make sure you 
r

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [25]:
r["W"] # indexing out a whole column in the dataset r so that you can whork soely on it

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [26]:
r[index = "A"] # To get an entire row ()

SyntaxError: invalid syntax (<ipython-input-26-d4b17e33b96a>, line 1)

In [ ]:
sumColumn = r[["Y","Z"]] # To index out column y and z

In [ ]:
r["addition"] = r["Y"] + r["Z"] # Adding two columns within a dataset

In [ ]:
r # This adds the addition of y and z to the original dataset

In [ ]:
r.drop('addition', axis = 1, inplace = True) # this drops the addition column

In [ ]:
r

In [ ]:
r.drop("A", axis = 0, inplace = True) # This drops row D

In [ ]:
r

In [ ]:
# To select a column use loc[name of location] or iloc[index of location]

In [ ]:
r.iloc[1] # selecting row B

In [ ]:
r.loc["B"] # Selecting row with index B

## Conditional Selection

This selects a row and column of a dataset based on certain conditions

In [ ]:
r > 1 # This checks the cells that are greater than 1

In [ ]:
r [r<1]

In [ ]:
r["W"]>1

In [ ]:
r[r["W"]<1]

###  using .set-index

In [ ]:
r.set_index(r["X"]) # This sets the colomn  X as an index of the data set

In [ ]:
r.reset_index() # find out solution

## Merging , joining and concatenation -This merges dataframes

In [ ]:
df1 = pd.DataFrame({'A': ["A0", "A1", "A2", "A3"], "B": ["B0", "B1","B2", "B3"], "C": ["C0", "C1", "C2", "C3"], "D": ["D0", "D1", "D2", "D3"]}, index = [0,1,2,3])

In [ ]:
df2 = pd.DataFrame({'A': ["A4", "A5", "A6", "A7"], "B": ["B4", "B5","B6", "B7"], "C": ["C4", "C5", "C6", "C7"], "D": ["D4", "D5", "D6", "D7"]}, index = [4,5,6,7])

In [ ]:
df3 = pd.DataFrame({'A': ["A8", "A9", "A10", "A11"], "B": ["B8", "B9","B10", "B11"], "C": ["C8", "C9", "C10", "C11"], "D": ["D8", "D9", "D10", "D11"]}, index = [8,9,10,11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

## Concatenation

Concatenation basically glues dataframes together vertically in rows

In [ ]:
pd.concat([df1, df2, df3])  # this concatenates by rows

In [ ]:
pd.concat([df1, df2, df3], axis = 1) # this concatenates by columns

# Merging Dataframes

In [ ]:
# pd.merge(left, right)