#DATA TYPES

# # Integers - Real numbers, positive and negative

# Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

## Variable Assignment

In [8]:
# Can not start with number or special character
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

## Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double qoutes"

'double qoutes'

In [14]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

## Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [21]:
num = 10
name = "Grace"

In [22]:
print("My number is: {one}, and my name is: {two}".format(one=num,two=name))

My number is: 10, and my name is: Grace

In [23]:
print("My number is: {}, and my name is: {}".format(num,name))

My number is: 10, and my name is: Grace

## Lists

In [24]:
[1,2, 3]

[1, 2, 3]

In [47]:
country = ["Nigeria", "Ghana", "France", "Cameron", "Hungary", "Saudi Arabia", "Israel", ["Jerusalem", "USA"]]

In [48]:
country

['Nigeria',
 'Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 ['Jerusalem', 'USA']]

In [36]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [37]:
type(country)

list

In [38]:
my_list = ["a", "b", "c"]

In [39]:
my_list.append("d")

In [40]:
country[0]

'Nigeria'

In [41]:
my_list[1]

'b'

In [43]:
Nations = country[0:4]

In [44]:
Nations

['Nigeria', 'Ghana', 'France', 'Cameron']

In [45]:
country[1:]

['Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 'Jerusalem',
 'USA']

In [46]:
country[:1]

['Nigeria']

In [49]:
country[7]

['Jerusalem', 'USA']

In [57]:
country[7][1]

'USA'

In [61]:
family = ['Martins', 'Cynthia', 'Nne', ['Chris', 'Collins',['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [62]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [64]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [65]:
family[3][3][1]

['Gift', 'Jennifer']

In [66]:
family[3][3][1][1]

'Jennifer'

In [67]:
family.append('John')

In [68]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'John']

In [72]:
family[4] = "James"

In [73]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'James']

In [77]:
family.insert(1,"Jude")

In [78]:
family

['Martins',
 'Jude',
 'James',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'James']

## Dictionaries

In [79]:
new_data = {"house": "building where people"}

In [80]:
new_data['house']

'building where people'

In [10]:
states = {"Edo": "The capital of Edo states is Benin", "Ekiti": "The capital of Ekiti states is Ado-Ekiti", "Oyo": "The capital of Oyo states is Ibadan", "Lagos": "The capital of Lagos states is Ikeja", "Ogun": "The capital of Ogun states is Abeokuta", "USA": ["Califonia", "Texas", "NY", "LAS.V"]}

In [11]:
states

{'Edo': 'The capital of Edo states is Benin',
 'Ekiti': 'The capital of Ekiti states is Ado-Ekiti',
 'Lagos': 'The capital of Lagos states is Ikeja',
 'Ogun': 'The capital of Ogun states is Abeokuta',
 'Oyo': 'The capital of Oyo states is Ibadan',
 'USA': ['Califonia', 'Texas', 'NY', 'LAS.V']}

In [13]:
states["USA"][1]

'Texas'

## Booleans

In [14]:
True

True

In [15]:
False

False

## Turples

### These are similar to lists, but are not as flexible as lists

## Lists - Read about this

## Logic Operator

<, >, ==, !=, >=, <=

## if, elif, else Statements

In [17]:
if (1<2):
    print("Yep")

Yep

In [18]:
if (1<2):
    print("Yep")

yep

In [19]:
if (1<2):
    print("First")
else:
    print('last')

First

In [20]:
if (1>2):
    print("First")
else:
    print('last')

last

In [21]:
if (1 == 2):
    print("First")
elif 3 == 3:
    print("Middle")
else:
    print('last')

Middle

In [30]:
x = 12 
if ((x > 10) and (x % 2 == 0)):
    print("Good number")
elif ((x < 10) and (x % 2 != 0)):
    print("Bad number")
else:
    print("Number is not valuable")

Good number

## for Loops

This is used in situations where you are searching for a data in a large data set with the person's name.

Note: variables might not be declared but used eg. item, i etc

In [31]:
seq = [1, 2, 3, 4]

In [33]:
for item in seq:
    print ("Yep")

Yep
Yep
Yep
Yep

In [101]:
for item in seq:
    print (item)

1
2
3
4

In [108]:
strg = "this is a this dog"

In [111]:
for item in strg:
    x = strg.count("this")

In [112]:
x

2

In [1]:
names = ["Femi", "Ibukun", "Tola", "George", "Kemi", "Austin", "Peter", "John", "Grace", "Uche", "Paul"]

In [2]:
names

['Femi',
 'Ibukun',
 'Tola',
 'George',
 'Kemi',
 'Austin',
 'Peter',
 'John',
 'Grace',
 'Uche',
 'Paul']

In [6]:
for i in names:
    if (i == 'Austin'):
            print(i)

Austin

In [5]:
i

'Paul'

## While Loop - read up

## range

## Functions

In [58]:
def square(x):
    return(x**2)

 Methods are attribute of a class (e.g .append(), while a function are called holistically to carry out a certain task e. print()

When a variable is defined within a function, the variable can only be access within a function - this is called a local variable.

In [59]:
out = square(2)

In [60]:
print(out)

4

In [113]:
square(100)

10000

In [114]:
def simpleInterest(p,r, t):
    return (p*r*t)/ 100

In [115]:
simpleInterest(100, 5, 10)

50.0

In [63]:
def cubeRoot(x):
    return((x**4) / 3)

In [64]:
out = cubeRoot(2)

In [65]:
print(out)

5.333333333333333

In [69]:
def congratulation(name):
    x = print("You have gotten a visa to USA")
    return x

In [71]:
congratulation("grace")

You have gotten a visa to USA

## Lamda expressions

These aree functions without names, it can only be used once. it in not reuseable

In [72]:
def times2(var):
    return var*2

In [73]:
times2(2)

4

In [75]:
lambda var: var*2

In [76]:
var = 4

In [80]:
lambda var: var*2

In [81]:
print(lambda var: var*2)

<function <lambda> at 0x0000007F99982EA0>

## Map and Filter

map takes two arguments, the first is what it should do and the list

In [83]:
def times4(x):
    return x*2

In [84]:
my_list = [2,5,7,1,9,8]

In [87]:
y=map(times4, my_list)

To get an output from the map, put all into a list

In [88]:
list(y)

[4, 10, 14, 2, 18, 16]

This is applicable when you are working with a large dataset that has decimals that can be multiplied by 100, you can use a map.

In [89]:
list(map(lambda x:x*2, my_list))

[4, 10, 14, 2, 18, 16]

## Filter

performs the same function as map, however the output of filter is performed on only the places where the expression in filter holds true

In [94]:
y= list(filter(lambda x:x%2 == 0, my_list))

In [95]:
y

[2, 8]

## Method